{% extends 'base.html.twig' %}

{% block title %}URLs{% endblock %}

{% block body %}

    <h1>URLs</h1>

    <p>{{ urls|length }} URLs are listed.</p>

    <ul>
    {% for url in urls %}
        <li><a href="{{ path('url', {id: url.id}) }}">{{ url.name }}</a> {{ url }}</li>
    {% endfor %}
    </ul>

{% endblock %}
